/*	Main styles		*/
html, body {
	width: 100%;
	font-family: Verdana, sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

body {
	background: url('/images/background-1600x1294.jpg') center no-repeat;
	margin: 40px 0 0 0;
}

div {
	margin: 0;
	padding: 0;	
	display: block;
}

#container {
	background: rgba(36, 38, 58, 0.5);
	width: 720px;
	margin: 0 auto 0 auto;
	padding: 0;
	-webkit-border-radius: 15px;
}

.contentContainer {
	background: #F8FCEC;
	width: 700px;
	padding: 10px;
}


/*	Header	*/
#header {
	background: url('/images/bosoxlogo-620x120.png') center no-repeat;
	width: 100%;
	height: 145px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
}

#header h1 {
	display: none;
}


/*	Slider		*/

#filtersettings h2 {
	margin-left: 30px;
}


/*	Descriptions 	*/

#descriptions a {
	display: block;
	color: black;	
}

.selected {
	background: rgba(96, 163, 114, 0.2);
	border: 3px solid rgb(96, 163, 114);
	-webkit-transition-property: background-color, border-color;
	-webkit-transition-duration: .3s, .3s;
	-webkit-transition-timing-function: ease-in, ease-in;
}

.unselected {
	-webkit-transition-property: background-color, border-color;
	-webkit-transition-duration: .3s, .3s;
	-webkit-transition-timing-function: ease-in, ease-in;
}

.setting {
	float: left;
	width: 194px;
	height: 370px;
	padding-left: 20px;
	border: 3px solid #F8FCEC;
}

.button {
	background: rgb(36, 38, 58);
	width: 140px;
	height: 115px;
	position: absolute;
	top: 510px;
	margin-left: 20px;
	-webkit-border-radius: 10px;
}

.setting ul {
	list-style: none;
	margin-left: 0;
	padding-left: 10px;
	border-left: 3px solid rgb(96, 163, 114);	
}

.setting li {
	margin-bottom: 5px;	
}

#Mild {
	margin: 0 0 0 10px;
}

#Mild .button {
	background-image: url('../images/mild-220x180.png');
	background-position: center no-repeat;	
}

#Aggressive {
	margin: 0 0 0 10px;
}

#Aggressive .button {
	background-image: url('../images/aggressive-220x180.png');
	background-position: no-repeat;	
}

#Vindictive {
	margin: 0 0 0 10px;
}

#Vindictive .button {
	background-image: url('../images/vindictive-220x180.png');
	background-position: no-repeat;
}

#settingContainer h3 {
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 22px;	
}
	
.hidden {
	display: none;
}

.description {
	width: 380px;
	margin: 0 0 0 250px;
}

.description ul {
	list-style: none;
	border-left: 2px solid #a3a2a8;
	margin: 0;
	padding: 0 0 0 20px;
}

.description li {
	padding: 3px 0 3px 0;
}


/*	Footer	*/

#footer {
	margin: 0;
	padding: 0 40px 1px 40px;
}

#footer p {
	color: white;
	font-size: .8em;
	text-align: center;
}

#footer a {
	font-weight: bold;	
}

/* Photo credit	*/
#photocredit {
	background: rgba(36, 38, 58, 0.5);
	height: 25px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0;
	padding: 2px;
}

#photocredit p {
	color: white;
	font-size: 10px;
	text-align: right;
}


/*	Statistics 	*/
#stats {
	border-top: 2px solid #a3a2a8;
}

#stats p {
	text-align: left;
	padding: 0 3px 0 0;
	display: inline;
}

#stats h4 {
	text-align: left;
	padding: 0 0 0 120px;
	display: inline;
}

/*	Extras	*/
.clear {
	clear: both;
	height: 10px;
}